:root {
  --color-white: #ffffff;
  --color-lightgray: #868686;
  --color-gray: #434343;
  --color-deepgray: #1f1f1f;
  --color-lightblack: #181818;
  --color-blue: #4776d0;

  --color-default-bg: var(--color-deepgray);
  --color-default-text: var(--color-white);
  --color-default-highlight: var(--color-blue);
  --color-app-bg: var(--color-lightblack);
  --color-app-border: var(--color-gray);
  --color-app-menu-icon: var(--color-lightgray);
  --color-app-text: var(--color-lightgray);

  --color-default-bg: #333333;
  --color-default-icon: #858585;
  --color-default-highlight-icon: #ffffff;
  --color-default-border: #474747;
  --color-default-text: #ffffff;

  --color-header-bg: #3c3c3c;
  --color-header-icon: #cccccc;
  --color-header-text: #cccccc;
  --color-header-border: #3c3c3c;
  --color-header-search-bg: #464646;
  --color-header-search-icon: #cccccc;
  --color-header-search-text: #cccccc;
  --color-header-search-border: #616161;

  --color-nav1-bg: #333333;
  --color-nav1-icon: #858585;
  --color-nav1-text: #ffffff;
  --color-nav1-border: #333333;
  --color-nav1-highlight-icon: #ffffff;

  --color-nav2-bg: #252526;
  --color-nav2-icon: #858585;
  --color-nav2-text: #cccccc;
  --color-nav2-border: #252526;
  --color-nav2-highlight-bg: #37373d;
  --color-nav2-highlight-text: #97c694;

  --color-content-bg: #1e1e1e;
  --color-content-text: #ffffff;
  --color-content-border: #1e1e1e;

  --color-editor-bg: #1e1e1e;
  --color-editor-icon: #727272;
  --color-editor-text: #858585;
  --color-editor-border: #1e1e1e;
  --color-editor-navi-bg: #1e1e1e;
  --color-editor-navi-text: #a9a9a9;

  --color-editor-tab-bg: #2d2d2d;
  --color-editor-tab-icon: #414141;
  --color-editor-tab-text: #626262;
  --color-editor-tab-border: #252526;
  --color-editor-tab-none-bg: #252526;
  --color-editor-tab-highlight-bg: #1e1e1e;
  --color-editor-tab-highlight-text: #97c694;
  --color-editor-tab-highlight-border: #1e1e1e;

  --color-terminal-bg: #1e1e1e;
  --color-terminal-text: #ffffff;
  --color-terminal-border: #414141;
}
.body_wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--color-default-text);
  background-color: var(--color-default-bg);
  /* font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */
  font-family: "synthese", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  font-style: normal;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: var(--color-header-bg);
  border-top: 1px solid var(--color-header-border);
  border-bottom: 1px solid var(--color-header-border);
}

.circle_wrap {
  display: flex;
  flex: 1;
  min-width: 80px;
  justify-content: left;
  align-items: center;
  padding: 0 15px;
}

.search_wrap {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_wrap input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 50%;
  color: var(--color-header-search-text);
  background-color: var(--color-header-search-bg);
  border: 1px solid var(--color-header-search-border);
}

.search_wrap input:focus {
  outline: none;
}

.sidebar_wrap {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sidebar_wrap ul {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}

.sidebar_wrap ul li {
  margin-right: 7px;
}
.sidebar_wrap ul li img {
  width: 16px;
  filter: invert(94%) sepia(1%) saturate(1883%) hue-rotate(202deg)
    brightness(115%) contrast(60%);
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-left: 7px;
}

.circle.red {
  background-color: #db6e5d;
}

.circle.yellow {
  background-color: #eac045;
}

.circle.green {
  background-color: #7dc34d;
}

/* main */
main {
  flex: 47;
  display: flex;
  flex-direction: row;
}

/* nav */
nav.menu {
  width: 50px;
  background-color: var(--color-nav1-bg);
  border-right: 1px solid var(--color-nav1-border);
}

nav.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

nav.menu ul li {
  padding: 10px;
}

nav.menu ul li img {
  width: 25px;
  filter: invert(55%) sepia(16%) saturate(0%) hue-rotate(152deg) brightness(93%)
    contrast(89%);
}

nav.menu ul li img.active {
  filter: invert(100%) sepia(8%) saturate(204%) hue-rotate(292deg)
    brightness(84%) contrast(101%);
}

nav.toggle_menu {
  width: 200px;
  padding: 15px 0;
  background-color: var(--color-nav2-bg);
  border-right: 1px solid var(--color-nav2-border);
}

nav.toggle_menu .menu {
  margin-top: 15px;
}

nav.toggle_menu .name {
  display: flex;
}

nav.toggle_menu .name .arrow {
  width: 14px;
  padding-left: 5px;
  /* padding-top: 3px; */
}

nav.toggle_menu .name .arrow img {
  width: 9px;
  filter: invert(100%) sepia(8%) saturate(204%) hue-rotate(292deg)
    brightness(84%) contrast(101%);
}

nav.toggle_menu .name .icon {
  width: 15px;
  padding-left: 2px;
}

nav.toggle_menu .name .icon img {
  width: 12px;
  filter: invert(67%) sepia(10%) saturate(355%) hue-rotate(165deg)
    brightness(95%) contrast(87%);
}

nav.toggle_menu .name .icon.index img {
  filter: invert(63%) sepia(55%) saturate(1075%) hue-rotate(188deg)
    brightness(95%) contrast(100%);
}

nav.toggle_menu .name .icon.skills img {
  filter: invert(36%) sepia(95%) saturate(463%) hue-rotate(333deg)
    brightness(98%) contrast(85%);
}

nav.toggle_menu .name .icon.projects img {
  filter: invert(58%) sepia(64%) saturate(377%) hue-rotate(52deg)
    brightness(105%) contrast(91%);
}

nav.toggle_menu .name .icon.contact img {
  filter: invert(96%) sepia(64%) saturate(3609%) hue-rotate(322deg)
    brightness(98%) contrast(87%);
}

eac045 nav.toggle_menu .name .text {
  flex: 1 0 auto;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 2px;
}

nav.toggle_menu .list {
  width: 100%;
  margin-left: 15px;
  margin-top: 5px;
}

nav.toggle_menu .list li {
  padding: 5px 0;
}

/* content */
.content_wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content_wrap .tap {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.content_wrap .tap li {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 150px;
  height: 30px;
  padding: 2px 0 5px 0;
  text-align: center;
  color: var(--color-editor-tab-text);
  background-color: var(--color-editor-tab-bg);
  border-right: 1px solid var(--color-editor-tab-border);
  border-bottom: 1px solid var(--color-editor-tab-border);
}

.content_wrap .tap li.active {
  color: var(--color-editor-tab-highlight-text);
  background-color: var(--color-editor-tab-highlight-bg);
  border-top: 1px solid var(--color-editor-tab-highlight-border);
  border-bottom: none;
}

.content_wrap .tap li:last-child {
  flex: 1 0 auto;
  border-right: none;
  background-color: var(--color-editor-tab-none-bg);
  border-bottom: 1px solid var(--color-editor-bg);
}

.content_wrap .tap li .text {
  flex: 1 0 auto;
}

.content_wrap .tap li .close {
  display: none;
  position: absolute;
  right: 0;
  top: 11px;
  padding: 0 7px;
}

.content_wrap .tap li:hover .close {
  display: block;
}

.content_wrap .tap li .close img {
  width: 16px;
  filter: invert(71%) sepia(3%) saturate(4%) hue-rotate(354deg) brightness(84%)
    contrast(84%);
}

.content_wrap .tap li.active .close {
  display: block;
}

.content_wrap .tap li.active .close img {
  filter: invert(100%) sepia(5%) saturate(20%) hue-rotate(161deg)
    brightness(107%) contrast(105%);
}

.content_wrap .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  font-size: 0.8rem;
  background-color: var(--color-editor-bg);
}

.content_wrap .content .navigator {
  height: 20px;
  padding: 2px 15px;
  color: var(--color-editor-text);
}

.content_wrap .content .editor {
  display: flex;
  flex-direction: row;
  background-color: var(--color-editor-bg);
}
.content_wrap .content .editor .line_number {
  width: 30px;
}

.content_wrap .content .editor .line_number ul li {
  width: 100%;
  padding: 3px 0;
  text-align: right;
  color: var(--color-app-text);
}

.content_wrap .content .editor .text {
  flex: 1 0 auto;
}

.terminal {
  flex: 1;
  background-color: var(--color-terminal-bg);
  border-top: 1px solid var(--color-terminal-border);
}

.terminal .nav {
  height: 30px;
  padding: 15px;
  color: var(--color-default-text);
}

.terminal .nav ul li span {
  padding: 5px 0;
}

.terminal .nav ul li.active span {
  border-bottom: 1px solid var(--color-default-highlight);
}

.terminal .output {
  padding: 15px;
}

.terminal .output .prompt {
  color: var(--color-default-highlight);
}

.terminal .output .arrow {
  color: var(--color-app-menu-icon);
}

.terminal .output input {
  background-color: var(--color-app-bg);
  border: 0;
  color: var(--color-default-text);
}

.terminal .output input:focus {
  outline: none;
}

/* footer */
footer {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  background-color: var(--color-app-bg);
  border-top: 1px solid var(--color-app-border);
  border-left: 1px solid var(--color-app-border);
  border-right: 1px solid var(--color-app-border);
}

footer p {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  nav_wrap {
    width: 50px;
  }
  nav.toggle_menu {
    display: none;
  }

  /* footer */
  footer {
    justify-content: center;
  }

  footer p {
    margin-right: 0;
  }
}
